@model StudentAttendanceGradeViewModel

<h1 class="text-center">Attendance</h1>
<p style="color:red; font-weight:bold;">Absent : @Model.Absent</p>
<p style="color:orange; font-weight:bold;">Late : @Model.Late</p>
<p style="color:steelblue; font-weight:bold;">Grade : @Model.Grade</p>

<button class="btn" id="absent">Absent</button>
<button class="btn" id="late">Late</button>
<button class="btn" id="attendent">Attendent</button>

<div id="attendance-partialView">
    
</div>
<style>
    .clicked {
        background-color:orangered;
        color:white;
    }
</style>
@section Scripts {
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            document.getElementById('absent').classList.add('clicked');
            $.ajax({
                url: '@Url.Action("ViewAbsentAttendance", "Student")',
                type: 'GET',
                success: function (result) {
                    $('#attendance-partialView').html(result);
                },
                error: function (xhr, status, error) {
                    console.error(error);
                }
            });
        });

        document.getElementById('late').addEventListener('click', function () {
            document.getElementById('late').classList.add('clicked');
            document.getElementById('absent').classList.remove('clicked');
            document.getElementById('attendent').classList.remove('clicked');

            $.ajax({
                url: '@Url.Action("ViewLateAttendance", "Student")',
                type: 'GET',
                success: function (result) {
                    $('#attendance-partialView').html(result);
                },
                error: function (xhr, status, error) {
                    console.error(error);
                }
            });
        });

        document.getElementById('absent').addEventListener('click', function () {
            document.getElementById('late').classList.remove('clicked');
            document.getElementById('absent').classList.add('clicked');
            document.getElementById('attendent').classList.remove('clicked');

            $.ajax({
                url: '@Url.Action("ViewAbsentAttendance", "Student")',
                type: 'GET',
                success: function (result) {
                    $('#attendance-partialView').html(result);
                },
                error: function (xhr, status, error) {
                    console.error(error);
                }
            });
        });

        document.getElementById('attendent').addEventListener('click', function () {
            document.getElementById('late').classList.remove('clicked');
            document.getElementById('absent').classList.remove('clicked');
            document.getElementById('attendent').classList.add('clicked');

            $.ajax({
                url: '@Url.Action("ViewAttendentAttendance", "Student")',
                type: 'GET',
                success: function (result) {
                    $('#attendance-partialView').html(result);
                },
                error: function (xhr, status, error) {
                    console.error(error);
                }
            });
        });
    </script>
}


