@model StudentAttendanceGradeViewModel
@{
    string[] RowColors = { "red", "orange", "green" };
}
<h1>Attendance</h1>
<p style="color:red">Absent : @Model.Absent</p>
<p style="color:orange">Late : @Model.Late</p>
<p style="color:steelblue">Grade : @Model.Grade</p>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Date</th>
            <th>Arrival Time</th>
            <th>Departure Time</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Attendance attendance in Model.attendances)
        {
            <tr style="background-color:@RowColors[(int)attendance.Status]">
                <td>@attendance.Date</td>
                <td>@(attendance.TimeIn.Hour==0 ? "-" : attendance.TimeIn)</td>
                <td>@(attendance.TimeOut.Value.Hour==0 ? "-" : attendance.TimeOut)</td>
                <td>@attendance.Status</td>
            </tr>
        }
    </tbody>
</table>

