@model StudentAttendanceGradeViewModel
@{
    string[] RowColors = { "red", "orange", "green" };
}
<h1 class="text-center">Attendance</h1>
<p style="color:red; font-weight:bold;">Absent : @Model.Absent</p>
<p style="color:orange; font-weight:bold;">Late : @Model.Late</p>
<p style="color:steelblue; font-weight:bold;">Grade : @Model.Grade</p>

<table class="table table-bordered text-center">
    <thead>
        <tr>
            <th>Date</th>
            <th>Arrival Time</th>
            <th>Departure Time</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody >
        @foreach (Attendance attendance in Model.attendances)
        {
            <tr style="background-color:@RowColors[(int)attendance.Status]; color:white;">
                <td>@attendance.Date</td>
                <td>@(attendance.TimeIn.Hour==0 ? "-" : attendance.TimeIn)</td>
                <td>@(attendance.TimeOut == null ? "-" : attendance.TimeOut)</td>
                <td>@attendance.Status</td>
            </tr>
        }
    </tbody>
</table>

