@model IEnumerable<TrackSupervisor>
@{
    Layout = "_MainView";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="/js/site.js"></script>
</head>
<body>
    <table class="table">
        <h1> Track Supervisors </h1>

        <thead>
            <tr>
                <th scope="col">Track ID</th>
                <th scope="col">Instructor ID</th>
                <th scope="col">Track Name</th>
                <th scope="col">Instructor Name</th>
                <th scope="col">Intake</th>
                <th scope="col">Branch</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
                @foreach (var supervisor in Model)
                {
                    <tr>
                     <td>@supervisor.TrackID</td>
                    <td>@supervisor.InstructorID</td>
                    <td>@supervisor.Track.Name</td>
                    <td>@supervisor.Instructor.Name</td>
                    <td>@supervisor.Intake.Name</td>
                     <td>@supervisor.Branch.Name</td>
                    <td>
@*                          <a onclick="confirmDelete(@supervisor.InstructorID && @supervisor.IntakeID)" class="btn btn-danger">Delete</a>
 *@
                        <a asp-action="Delete" asp-controller="TrackSupervisor" asp-route-InstructorID="@supervisor.InstructorID" asp-route-IntakeID="@supervisor.IntakeID"> <img width="30" height="30" src="~/images/bin.png" /></a>
</td>
                    </tr>
                }

        </tbody>
    </table>
    <div><a asp-action="AssignSupervisor" asp-controller="TrackSupervisor" class="btn btn-danger"> Assign Supervisor to track </a></div>
    <script>
        let deletedbtns = document.getElementsByClassName("deletebtn");
        for (let i = 0; i < deletedbtns.length;i++) {
            deletedbtns[i].addEventListener("click", function (e) {
                let isDelete = confirm("Are you sure you want to delete this record?");
                if (!isDelete) {
                    e.preventDefault();
                }
            });
        }
    </script>
    
</body>
</html>
